Body {
	text-align: center;
	background: url("https://i.imgur.com/v4Ahevr.jpg");
	background-size: cover;
	color: #fff;
	font-family: "Arial Black", Gadget, sans-serif;
}

h1 {
	font-size: 80px;
	padding-top: 300px;
	color: #3164E8;
	text-shadow: 5px 5px #FF7900;
}

h3 {
	font-size: 45px;
	text-shadow: 2px 2px #3164E8;
	color: #FF7900;
	font-family: Comic, serif;
	font-style: italic;
}

p {
	padding-top: 180px;
	color: #fff;
	font-size: 20px;
}

hr {
	width: 500px;
	height: 5px;
}

a:link {
	color: #E87300;
}

a:hover {
	color: #3164E8;
}