body {
	text-align: center;
	background: url("images/sci-fi-hd-wallpaper_010021398_283.jpg");
	background-size: cover;
	color: #fff;
	font-family: Helvetica;
}
hr {
	width: 200px;
}
p {
	font-size: 22px;
}